.list {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  background: {
    color: dodgerblue;
  }
  width: 200px;
  height: auto;
  border-radius: 10px;
  .list__link {
    border-radius: 10px 0 0 10px;
    margin: 10px;
    padding: 10px;
    background: {
      color: white;
    }
    text-decoration: none;
    color: black;
    transition: 0.3s ease all;
    opacity: 1;
  }

  .list__link:hover {
    border-radius: 10px 0 0 10px;
    margin: 10px;
    padding: 10px;
    background: {
      color: rgb(73, 62, 62);
    }

    color: white;
  }
  animation: list__link-animation 0.3s ease 0.4s forwards;
  @keyframes list__link-animation {
    from {
      transform: translateX(155px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
}
