$color-1:white;
$color-2:white;
$bgcolor-1:rgba(35, 35, 226 ,0.8);
$bgcolor-2:rgb(199, 199, 199);
$color-3: rgb(218, 149, 0);
$bgcolor-3:white;
$color-4:white;
$string-flex: none;
$string-flex-justify: none;
$string-flex-align: none;
$string-flex-wrap:none;
$string-flex-direction:none;
$string-border-radius:none;
$string-border-height: 0px;
