.header-container{
    .buttons{
        text-decoration: none;
        background: {
            color: white;
        }
        color: black;
        padding: 10px;
        width: 100px;
        height: 40px;
        border-radius: 10px;
    }
}