#blog {
  .main-container {
    @include flex(space-around, none);
    padding: 20px;
    .main-links {
      background: {
        color: dodgerblue;
      }
      width: 280px;
      height: 180px;
      color: white;
      padding: 20px;
      margin-top: 20px;
      position: sticky;
      top: 20px;
      .list-links {
        display: flex;
        flex-direction: column;
        a {
          color: white;
          margin: {
            top: 5px;
            bottom: 5px;
          }
        }
      }
    }
    .content {
      .post {
        width: 500px;
        .title {
          padding-top: 20px;
        }
      }
    }
  }
}
