.logo-container{
    color: red;
    .title-red{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bolder;
        font-size: xx-large;
        margin: 15px;
    }
}