
@mixin buttom($color-1, $bgcolor-1, $color-2, $bgcolor-2) {
    display: flex;
    align-items: center;
    justify-content: center;
    background: {
        color: $bgcolor-1;
    }
    border: {
        radius: 10px;
    }
    padding: 10px;
    color:$color-1;

   &:hover {
    background: {
        color: $bgcolor-2;
    }
    border: {
        radius: 10px;
    }
    padding: 10px;
    color:$color-2;

}
}
@mixin flex($string-flex,$string-flex-justify, $string-flex-align, $string-flex-wrap,$string-flex-direction) {
    display: $string-flex;
    justify-content: $string-flex-justify;
    align-items: $string-flex-align;
    flex-wrap: $string-flex-wrap;
    flex-direction: $string-flex-direction;
    
}
